body, html {
  height: 100%;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-size: 18px;
  padding: 20px;
  flex-grow: 1
}

.words {
  padding: 0 50px;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  background-image: url("images/web/Katherine_Nathan-11.jpg");
  position: relative;
}

.bg2 {
  background-image: url("images/web/Katherine_Nathan-23.jpg");
}

.bg3 {
  background-image: url("images/web/Katherine_Nathan-15.jpg");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.first {
  color: white;
}

/* no parallax on mobile */
@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.gallery img {
  margin: 5px;
  object-fit: contain;
  max-height: 600px;
}

@media screen and (max-width: 500px) {
  .gallery img {
    width: 500px;
  }
}

.gifts {
  display: flex;
  justify-content: center;
}

.preamble {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.region {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.org {
  width: 400px;
  margin: 20px;
}

@media screen and (max-width: 500px) {
  h2.gift {
    background-color: #eee;
    padding: 5px;
  }
  .gifts {
    display: block;
  }
  .preamble {
    width: auto;
  }
  .region {
    display: block;
  }
  .org {
    width: auto;
  }
}

.pg {
  text-align: left;
}

.cr {
  text-align: right;
}

.logo {
  width: 200px;
}
