<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>KWS-GNM Wedding</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
</head>
<body>

<nav class="header">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/gallery">Gallery</a>
  <a class="nav-link" href="/gifts">Our registry</a>
</nav>

{{ content }}

<img src="https://ab.gnmerritt.net/piwik.php?idsite=4&rec=1" style="border:0" alt="" />

</body>
</html>
